.button {
  display: block;
  width: 140px;
  border-radius: 30px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  padding: 1em 0;
  margin: 0 auto;
  border: 2px solid transparent;
}

@include respond-to('medium') {
  .button {
    width: 190px;
  }
}

@include respond-to('large') {
  .button {
    width: 210px;
    font-size: 1.125em;
  }
}

@include respond-to('huge'){
  .button {
    width: 240px;
    font-size: 1em;
  }
}