.work {
  background: $primary-color;
  color: $light-font-color;
  text-align: center;
  padding: 30px 0;
}

.work h2+p {
  color: #5483bb;
}

.work-inner {
  text-align: left;
  font-size: 1.125em;
  font-weight: 300;
  overflow: hidden;
  line-height: 1.67;

  p {
    margin-bottom: 30px;
  }
}

.schema {
  margin-bottom: 25px;
}

.work .button {
  color: $primary-color;
  background: #ffffff;
  clear: both;
  margin-top: 0;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid #ffffff;
  }
}

@include respond-to('medium') {
  .work {
    padding: 40px 0;
  }

  .schema {
    width: 50%;
    float: left;
    margin: 15px 25px 0 0;
  }
}

@include respond-to('large') {
  .work {
    padding: 80px 0;
  }

  .schema {
    width: 50%;
    float: left;
    margin: 15px 25px 0 0;
  }

  .work .button {
    margin-top: 50px;
  }
}

@include respond-to('huge') {
  .work {
    padding: 100px 0 125px;
  }

  .schema {
    width: 50%;
    float: left;
    margin: 25px 15px 0 0;
  }

  .work-inner {
    font-size: 1em
  }

  .work .button {
    margin-top: 60px;
  }
}

