$breakpoints: (
        'medium': (min-width: 650px),
        'large': (min-width: 1000px),
        'huge': (min-width: 1300px),
);


$primary-color: #0149a1;
$main-font-color: #5d6981;
$second-font-color: #7c8ca0;
$light-font-color: #ffffff;
$about-color: #ff2d55;